.loading {
  width:200px;
  height:200px;
  display:flex;
  position:relative;
}
.loading::before,.loading::after{
  content:'';
  position:absolite;
  width:30px;
  height:30px;
  border-radius:50%;
  background:black;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  animation:become 1.5s linear infinite;
}
.loading::after{
  animation-delay:0.75s;
}
@keyframes become{
  0%{
    width:0;
    height:0;
    opacity:1;
  }
  100%{
    width:100px;
    height:100px;
    opacity:0;
  }
}
.first_welcome {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #888;z-index: 2;justify-content: center;align-items: center;}
.first_welcome.active {
	display: flex;
	}