body{
    background:#EFEFEF;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
.icon {
 	width: 1em; height: 1em;
 	vertical-align: -0.15em;
 	fill: currentColor;
  	overflow: hidden;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 33px;
}
.top .topNavBar-inner{
    padding: 0 16px 0 16px
}
.top nav>ul{
    list-style: none;margin: 0;padding: 0;border: 1px solid  red；
}
.top nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.top nav>ul>li>a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bolder;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.top nav>ul>li>a:hover{
    border-bottom: 3px solid #E06567;
}
a{
    text-decoration: none;
}
.top .logo{
    font-size: 24px;
    font-family: "Arial Black";
    height: 34px;
}
.top .logo .rs{
    margin-right: 4px;
    color: green;
}
.top .logo .card{
    color: #9A9DA2;
}
.foot>a{
    color: white;
}
.button{
    color: black;
}


.banner {
    height: 515px;
    background-position: center center;
    background-size: cover; /*盖住所有的面积，并按比例缩放*/
}
.banner .mask{
    height: 515px;
    background: black;
    background-color: rgba(0, 0, 0, 0.8);
}
.UserCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: -300px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.51);
}
.UserCard .welcome {
    background: #07CB79;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 4px 13px;
    line-height: 22px;
    margin-bottom: 41px
}
.UserCard .welcome .triangle{
    display: block;
    border: solid 10px transparent;
    border-top-width: 0px;
    border-left-color: #07CB79; 
    position: absolute
}
.UserCard .text {
    float: left;
    margin-left: 79px;
    width: 470px;
}
.UserCard .picture {
    float: left;
    margin-left: 62px;
}
.UserCard .pictureAndText {
    padding-top: 50px;
    padding-bottom: 53px;
}
.UserCard .text h1{
    margin-bottom: 10px;
}
hr{
    border: none;
    border-top: 1px solid #DEDEDE;
    margin-top: 28px;
    margin-bottom: 30px;
}
.UserCard .text dl dt{
    float: left;
    width: 30%;
    margin-bottom: 18px;
    font-weight: bold;
}
.UserCard .text dl dd{
    float: left;
    width: 70%;
    margin-bottom: 18px;
    color: #A2A5AC;

}
.UserCard .foot{
    background: #07CB79;
    text-align: center;
}
.UserCard .foot svg{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 16px;
    vertical-align: top;
}
.UserCard .foot a{
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 60%;
    padding: 5px 0;
    line-height: 30px;
    margin: 25px 0;
}
.UserCard .foot a:hover{
    background: #06B66D;

}
body>main>p .downloadaa {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    border-radius: 2px;
    color: #3D4451;
    font-weight: bold;
    margin-top: 57px;
    transition: box-shadow 0.2s;
}
body>main>p .downloadaa:hover{
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
}
body>main .self_introduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 2.0;
    margin-top: 40px
}
body>main .skill,
body>main .portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
body>main .skill h2{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    color: #3D4451;
    margin-bottom: 35px;
}

ol,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body>main .skill>ol>li{
    float: left;
    width: 50%;
    box-sizing: border-box;
    border-right: 19px solid #FFFFFF;
    border-left: 19px solid white;
}
body>main .skill>ol{ 
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 5px 63px 52px 63px;
}
body>main .skill h3{
    font-size: 14px;
    line-height: 1.1;
    color: #5B616C;
    margin-top: 47px;
    margin-bottom: 9px
}
body>main .skill .progress_bar {
    height: 7px;
    background: #CDF5E4;
    border-radius: 3px;

}
body>main .skill .progress_bar .progress {
    width: 60%;
    background: #07CB79;
    height: 100%;
    border-radius: 3px;

}
body>main .portfolio>h2{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    color: #3D4451;
    margin-bottom: 35px;
}
body>main .portfolio{
    text-align: center;
}
body>main .portfolio>nav>ol>li{
    float: left;
    margin-left: 63px;
    cursor: pointer;
}
body>main .portfolio>nav>ol>li:first-child{
    margin-left: 0;
}
body>main .portfolio>nav>ol{
    display: inline-block;
    vertical-align: top;
}
body>main .portfolio>nav{
    display: inline-block;
    vertical-align: top;
}
body>main .portfolio>nav .bar{
    height: 5px;
    background: white;
    margin-bottom: 100px;
    border-radius: 2px;
}
body>main .portfolio>nav .bar_inner{
    height: 100%;
    background: green;
    border-radius: 2px;
    transition: all 0.7s
}
.portfolio nav .bar.state1 .bar_inner {
    margin-left: 0px;
    width:40px;
}
body>main .portfolio>nav .bar.state2 .bar_inner {
    margin-left: 93px;
    width: 40px;
}
body>main .portfolio>nav .bar.state3 .bar_inner {
    margin-left: 188px;
    width: 83px;
}
.portfolio .works {
    position: relative;

}
.portfolio .works .big,
.portfolio .works .small {
    position: absolute;

}