*{
	margin: 0;
}
#mainxxx div>kbd {
	border: 1px solid red;
	display: inline-block;
	height: 4em;
	width: 4em;
	position: relative;
}
#mainxxx div:nth-child(2){
	margin-left:1em;
}
#mainxxx div:nth-child(3){
	margin-left:2em
}
#mainxxx{
	display: inline-block;
}
main{
	text-align: center;
}
#mainxxx div>kbd>button{
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
#mainxxx div>kbd:hover>button{
	display: block;
}
