*{margin: 0;padding: 0;list-style: none;}
.clearfix::after{content: '';display: block;clear: both;}
.gallery{width: 400px;height: 400px;margin:0 auto;margin-top: 20px;overflow: hidden;}
.slides{display: flex;height:100%;transition: all 1s}
.menu{background: rgba(245, 245, 245, 1);border: 2px solid #E0E0E0}
.nav{width: 400px;margin: 0 auto;text-align: center;font-size: 0;}
.nav ul li{float: left;padding: 20px 30px;border-left:1px solid #DFDEDF;border-right: 1px solid #DFDEDF;}
.nav ul{display: inline-block;}
.active{background: url(./images/active_bg.png) no-repeat;background-size: cover}
